:root {
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --headings-font: 'Poppins', sans-serif;
    --body-call-to-actions-font: 'Open Sans', sans-serif;
}
/*general element styling*/

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    background-image: url(/images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

header nav {
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1, h2 {
    color: var(--very-dark-cyan);
}

h1 {
    font-size: 26px;
    padding: 0px 20px 10px 20px;
    margin-top: 60px;
}

h2 {
    font-size: larger;
}

p {
    color: var(--grayish-blue);
}

nav img {
    width: 110px;
    align-self: center;
}

nav {
    margin: 0px 20px 0px 20px;
}


img {
    width: 300px;
}

button {
    background-color: var(--pink);
    color: white;
    border: 1px solid var(--pink);
    border-radius: 50px;
    width: 240px;
    height: 45px;
    font-size: 13px;
    display: block;
    margin: 0 auto;
    font-family: var(--body-call-to-actions-font);
    font-weight: 700;
    margin-bottom: 60px;
}

button:hover {
    background-color: hsl(322, 81%, 75%);
    border: 1px solid hsl(322, 81%, 75%);
    cursor: pointer;
}


/*top nav styling*/

#top-info {
    padding: 0px 25px 20px 25px;
    color: var(--very-dark-cyan);
    font-size: 17px;
}

#try-free-button {
    width: 100px;
    height: 25px;
    background-color: white;
    color: black;
    border: 1px solid white;
    box-shadow: 0px 0px 10px rgba(136, 132, 132, 0.384);
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

#try-free-button:hover {
    color: grey;
    cursor: pointer;
}

/*top section styling*/

#top-section {
    background-color: hsla(192, 100%, 96%, 0.562);
    padding-bottom: 30px;
}

/*grow together card styling*/

#grow-pic {
    width: 235px;
}

#grow-together-card {
    margin: 70px 20px 0px 20px;
    padding: 70px 25px 20px 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(145, 143, 143, 0.356);
}

#grow-together-card p {
    font-size: 15px;
    padding: 0px 5px 0px 5px;
}

/*flowing conversations card styling*/

#flowing-pic {
    width: 235px;
}

#flowing-conversations-card {
    margin: 50px 20px 0px 20px;
    padding: 70px 25px 20px 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(145, 143, 143, 0.356);
}

#flowing-conversations-card h2 {
    margin-top: 60px;
}

#flowing-conversations-card p {
    font-size: 15px;
    padding: 0px 5px 20px 5px;
}

/*your users card styling*/

#users-pic {
    width: 235px;
}

#your-users-card {
    margin: 50px 20px 100px 20px;
    padding: 70px 25px 20px 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(145, 143, 143, 0.356);
}

#your-users-card h2 {
    margin-top: 40px;
}

#your-users-card p {
    font-size: 15px;
    padding: 0px 10px 0px 10px;
}

/*bottom community card styling*/

#bottom-community-card {
    margin: 0px 0px 0px 0px;
    padding: 25px 10px 35px 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px hsla(192, 100%, 9%, 0.164);;
    position: relative;
    top: 60px;
    background-color: white;
}


#bottom-community-card h2 {
    font-size: 18px;
    padding: 0px 10px 0px 10px;
    margin-bottom: 25px;
}

#bottom-community-card button {
    margin-bottom: 0px;
    width: 230px;
    height: 43px;
    font-size: 12px;
}



/*bottom section styling*/

svg {
    display: flex;
    align-self: flex-start;
    width: 170px;
    padding: 150px 0px 0px 0px;
    padding-left: 20px;
}

#bottom-section {
    background-color: var(--very-dark-cyan);
    text-align: left;
    
}

#bottom-section p {
    color: white;
    font-size: 17px;
}

#bottom-section div {
    display: flex;
}

#bottom-section img {
    align-self: center;
    margin: 0px 25px 0px 0px;

}

#bottom-section a {
    color: white;
    text-decoration: none;
}

#location-icon {
    width: 50px;
    position: relative;
    top: -27px;
    padding-left: 20px;
}

#phone-icon, #email-icon {
    width: 20px;
}

#phone-icon {
    padding-left: 20px;
}

#email-link {
    margin-bottom: 60px;
    margin-top: 10px; 
    padding-left: 20px;
}

#rights-reserved p {
    font-size: 12px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    color: white;
    padding: 0px;
}

/*bottom nav links styling*/

ul {
    padding: 0px;
    list-style: none;
    padding-left: 20px;
}

li {
    margin-bottom: 15px;
}

/*social links*/

#social-icons {
    margin-top: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-brands {
    width: 10px;
    height: 10px;
    font-size: 20px;
    color: white;
    margin-right: 20px;
}

.fa-brands:hover {
    color: var(--pink);
    border: 1px solid var(--pink);
    cursor: pointer;
}

/*attribution styling*/

footer {
    width: 100%;
    background-color: var(--very-dark-cyan);
}

.attribution {
	font-size: 11px;
	text-align: center;
    color: white;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/*------------desktop styling start---------------*/ 

@media (min-width: 1440px) {
    /*general element styling*/

    body {
        background-image: url(/images/bg-hero-desktop.svg);
    }

    #top-section {
        padding-bottom: 70px;
    }

    main {
        margin: 0px 80px 0px 80px;
    }

    /*nav styling*/

    header {
        margin: 40px 0px 40px 0px
    }

    nav {
        margin: 0px 80px 0px 80px;
    }

    nav img {
        width: 180px;
    }

    #try-free-button {
        width: 180px;
        height: 40px;
        font-size: 14px;
    }

    /*section one styling*/

    #d-section-one {
        display: flex;
        margin-bottom: 110px;
        margin: 0px 80px 0px 80px;
    }

    #d-section-one img {
        width: 650px;
    }

    #d-section-one h1 {
        font-size: 38px;
        text-align: left;
        padding: 0px 150px 0px 0px;
    }

    #d-section-one p {
        padding: 0px 100px 0px 0px;
        text-align: left;
        font-size: 18px;
    }

    #d-section-one button {
        margin: 30px 0px 0px 0px;
    }

    /*middle cards general styling*/

    #grow-together-card, #your-users-card,  #flowing-conversations-card {
        text-align: left;
    }

    #grow-together-card h2, #your-users-card h2,  #flowing-conversations-card h2 {
        font-size: 26px;
    }

    #grow-together-card p, #your-users-card p,  #flowing-conversations-card p {
        padding: 15px 0px 0px 0px;
        font-size: 18px;
    }

    #grow-together-card p, #your-users-card p {
        padding-right: 200px;
    }


    #grow-together-card, #your-users-card {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    #grow-together-card p, #grow-together-card h2 {
        margin: 0px 0px 0px 110px;
    }

    #your-users-card p, #your-users-card h2 {
        margin: 0px 0px 0px 110px;
    }

    /*grow together card styling*/

    #grow-together-card {
        padding: 50px 20px 50px 0px;
        margin-top: 160px;
    }

    /*flowing conversation card styling*/

    #flowing-conversations-card {
        display: flex;
        padding: 70px 20px 70px 0px;
    }

    #flowing-conversations-card h2 {
        margin-bottom: 0PC;
    }

    #flowing-conversations-card p {
        margin: 0px;
    }

    /*your users card styling*/

    #your-users-card {
        padding: 50px 20px 50px 0px;
    }

    /*middle cards images*/

    #grow-pic, #flowing-pic, #users-pic {
        width: 400px;
    }

    #flowing-pic {
        margin: 0px 190px 0px 110px;
    }

    /*bottom section styling*/

    /*bottom community card*/

    #bottom-community-card {
        width: 670px;
        height: 190px;
        position: relative;
        top: 90px;
    }

    #bottom-community-card h2 {
        font-size: 30px;
    }

    #bottom-community-card button {
        width: 360px;
        height: 75px;
        font-size: 18px;
        margin-top: 30px;
    }

    /*bottom info section styling*/

    #bottom-section {
        width: 100%;
        padding-top: 100px;
    }

}