:root {
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --headings-font: 'Poppins', sans-serif;
    --body-call-to-actions-font: 'Open Sans', sans-serif;
}
/*general element styling*/

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    background-image: url(/images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

header nav {
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1, h2 {
    color: var(--very-dark-cyan);
}

h1 {
    font-size: 28px;
    padding: 0px 20px 10px 20px;
}

h2 {
    font-size: larger;
}

p {
    color: var(--grayish-blue);
}

nav img {
    width: 110px;
    align-self: center;
}

nav {
    margin: 0px 20px 0px 20px;
}


img {
    width: 300px;
}

button {
    background-color: var(--pink);
    color: white;
    border: 1px solid var(--pink);
    border-radius: 50px;
    width: 270px;
    height: 50px;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    font-family: var(--body-call-to-actions-font);
    font-weight: 700;
    margin-bottom: 60px;
}


/*top nav styling*/

#top-info {
    padding: 0px 15px 20px 15px;
    color: var(--very-dark-cyan);
}

#try-free-button {
    width: 100px;
    height: 25px;
    background-color: white;
    color: black;
    border: 1px solid white;
    box-shadow: 0px 0px 10px rgba(136, 132, 132, 0.384);
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

/*top section styling*/

#top-section {
    background-color: hsla(192, 100%, 96%, 0.562);
    padding-bottom: 30px;
}

/*grow together card styling*/

#grow-pic {
    width: 235px;
}

#grow-together-card {
    margin: 70px 20px 0px 20px;
    padding: 70px 25px 20px 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(145, 143, 143, 0.356);
}

#grow-together-card p {
    font-size: 15px;
    padding: 0px 5px 0px 5px;
}

/*flowing conversations card styling*/

#flowing-pic {
    width: 235px;
}

#flowing-conversations-card {
    margin: 50px 20px 0px 20px;
    padding: 70px 25px 20px 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(145, 143, 143, 0.356);
}

#flowing-conversations-card h2 {
    margin-top: 60px;
}

#flowing-conversations-card p {
    font-size: 15px;
    padding: 0px 5px 20px 5px;
}

/*your users card styling*/

#users-pic {
    width: 235px;
}

#your-users-card {
    margin: 50px 20px 100px 20px;
    padding: 70px 25px 20px 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(145, 143, 143, 0.356);
}

#your-users-card h2 {
    margin-top: 40px;
}

#your-users-card p {
    font-size: 15px;
    padding: 0px 10px 0px 10px;
}

/*bottom community card styling*/

#bottom-community-card {
    margin: 0px 0px 0px 0px;
    padding: 25px 10px 35px 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px hsla(192, 100%, 9%, 0.164);;
    position: relative;
    top: 60px;
    background-color: white;
}


#bottom-community-card h2 {
    font-size: 18px;
    padding: 0px 10px 0px 10px;
    margin-bottom: 25px;
}

#bottom-community-card button {
    margin-bottom: 0px;
    width: 230px;
    height: 43px;
    font-size: 12px;
}



/*bottom section styling*/

svg {
    display: flex;
    align-self: flex-start;
    width: 170px;
    padding: 150px 0px 0px 0px;
}

#bottom-section {
    background-color: var(--very-dark-cyan);
    text-align: left;
    padding-left: 20px;
}

#bottom-section p {
    color: white;
    font-size: 17px;
}

#bottom-section div {
    display: flex;
}

#bottom-section img {
    align-self: center;
    margin: 0px 25px 0px 0px;

}

#bottom-section a {
    color: white;
    text-decoration: none;
}

#location-icon {
    width: 50px;
}

#phone-icon, #email-icon {
    width: 20px;
}

#email-link {
    margin-bottom: 60px;
}

#bottom-copywright {
    font-size: 12px;
}


/*bottom nav links styling*/

ul {
    padding: 0px;
    list-style: none;
}

li {
    margin-bottom: 15px;
}

/*social links*/

#social-icons {
    margin-top: 50px; 
}

.fa-brands {
    font-size: 25px;
    color: white;
    margin-right: 20px;
}

/*attribution styling*/

footer {
    width: 100%;
    background-color: var(--very-dark-cyan);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}




