:root {
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --headings-font: 'Poppins', sans-serif;
    --body-call-to-actions-font: 'Open Sans', sans-serif;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    background-color: pink;
}

img {
    width: 100px;
}

.bottom-icon {
    width: 30px;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
